<script src="~/Scripts/jquery-3.7.0.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var tr;
        $.getJSON("/Holtec/GetAllEmployees", function (json) {
            $.each(json, function (i, emp) {
                var empid = emp.EmployeeID;
                tr = $('<tr/>');
                tr.append("<td class='FirstName'>" + emp.FirstName + "</td>");
                tr.append("<td class='LastName'>" + emp.LastName + "</td>");
                tr.append("<td class='City'>" + emp.City + "</td>");
                tr.append("<td class='ReportsTo'>" + emp.ReportsTo + "</td>");
                tr.append("<td>" + "<a Onclick='return false;' class='DeleteCss' href=/Holtec/DeleteEmployee/" + empid + ">Delete</a>"
                    + "<a Onclick='return false;' class='EditCss' href=/Holtec/EditEmployee/" + empid + ">Edit</a>" + "</td>");
                $('#tblEmployee').append(tr);
            });
        });

        $('#tblEmployee').on('click', 'td a.DeleteCss', function () {
            var deleteUrl = $(this).attr("href");
                $.ajax({
                    url: deleteUrl,
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json",

                    error: function (err) { alert('Unable to delete record.'); },
                    success: function (response) { $('#employeeList').load("/Holtec/EmployeeDetails"); }
                });
        });

        $('#tblEmployee').on('click', 'a.EditCss', function (e) {
            e.preventDefault();
            $('#editEmployeeModal').modal('show');
            var empid = $(this).data('id');
            $.getJSON('/Holtec/GetEmployee/' + empid, function (employee) {
                $('#EmployeeID').val(employee.EmployeeID);
                $('#EditFirstName').val(employee.FirstName);
                $('#EditLastName').val(employee.LastName);
                $('#EditCity').val(employee.City);
                $('#EditReportsTo').val(employee.ReportsTo);
                $('#editEmployeeModal').modal('show');
            });
        });
    });
</script>
<table id="tblEmployee" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th>Report To</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
