@* Partial View for Update AState *@
@{
    Layout = null;
}
<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="/lib/jquery/dist/jquery.js"></script>
<style>
    table a, table img {
        cursor: pointer;
    }
</style>

<h3>Update A State New Version</h3>
<div id="updateAStateContainer" class="container-fluid">
    <form id="updateStateForm" class="mb-4">
        <div class="form-group">
            <label for="updateStateID">State ID</label>
            <input type="text" class="form-control" id="updateStateID" placeholder="Enter State ID" readonly>
        </div>
        <div class="form-group">
            <label for="updateStateName">State Name</label>
            <input type="text" class="form-control" id="updateStateName" placeholder="Enter State Name" required>
        </div>
        <button type="submit" class="btn btn-primary">Update State</button>
    </form>
</div>
