@{
    ViewData["Title"] = "State Management";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" id="addStateBtn">Add State</button>
        <button type="button" class="btn btn-primary" id="updateStateBtn">Update State</button>
        <button type="button" class="btn btn-primary" id="updateAStateBtn">Update A State</button>
    </div>

    <div id="partialViewContainer">
        <!-- Partial views will be loaded here -->
    </div>

    <div>
        <partial name="_ShowStates"></partial>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            function loadPartialView(viewName) {
                $("#partialViewContainer").load("/Client/" + viewName);
            }
            $("#addStateBtn").click(function () {
                loadPartialView("AddState");
            });

            $("#updateStateBtn").click(function () {
                loadPartialView("UpdateState");
            });

            $("#updateAStateBtn").click(function () {
                loadPartialView("UpdateAState");
            });

            ShowAllReservation();
            function ShowAllReservation() {
                $("table tbody").html("");
                $.ajax({
                    url: "https://localhost:7193/api/HoltecServices/GetStates",
                    type: "get",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        $.each(result, function (index, value) {
                            $("tbody").append($("<tr>"));
                            var appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(value["stateID"]));
                            appendElement.append($("<td>").html(value["stateName"]));
                            appendElement.append($("<td>").html(value["countryID"]));
                            appendElement.append($("<td>").html("<button class='btn btn-sm btn-info edit'>Edit</button> <button class='btn btn-sm btn-danger delete'>Delete</button>"));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            }

            $("table").on("click", "button.edit", function () {
                var row = $(this).closest("tr");
                var stateID = row.find("td:nth-child(1)").text();
                var stateName = row.find("td:nth-child(2)").text();

                $("#updateStateID").val(stateID);
                $("#updateStateName").val(stateName);
            });

            $("table").on("click", "button.delete", function () {
                var reservationId = $(this).parents("tr").find("td:nth-child(1)").text();

                $.ajax({
                    url: "https://localhost:7193/api/HoltecServices/DeleteState?id=" + reservationId,
                    type: "delete",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        ShowAllReservation();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            });

            $("#addStateForm").submit(function (event) {
                event.preventDefault();
                var stateID = $("#stateID").val();
                var stateName = $("#stateName").val();
                var countryID = $("#countryID").val();

                var stateData = {
                    stateID: stateID,
                    stateName: stateName,
                    countryID: countryID
                };

                $.ajax({
                    url: "https://localhost:7193/api/HoltecServices/AddState",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(stateData),
                    success: function (result, status, xhr) {
                        ShowAllReservation();
                        $("#addStateForm")[0].reset();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            });

            $("#updateStateForm").submit(function (event) {
                event.preventDefault();
                var stateID = $("#updateStateID").val();
                var stateName = $("#updateStateName").val();
                var countryID = $("#updateCountryID").val();

                var stateData = {
                    stateID: parseInt(stateID),
                    stateName: stateName,
                    countryID: parseInt(countryID)
                };

                $.ajax({
                    url: "https://localhost:7193/api/HoltecServices/UpdateState",
                    type: "put",
                    contentType: "application/json",
                    data: JSON.stringify(stateData),
                    success: function (result, status, xhr) {
                        ShowAllReservation();
                        $("#updateStateForm")[0].reset();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            });

            $("#updateStateForm").submit(function (event) {
                event.preventDefault();
                var stateID = $("#updateStateID").val();
                var stateName = $("#updateStateName").val();

                $.ajax({
                    url: "https://localhost:7193/api/HoltecServices/UpdateAState?id=" + stateID,
                    type: "patch",
                    contentType: "application/json",
                    data: JSON.stringify(stateName),
                    success: function (result, status, xhr) {
                        ShowAllReservation();
                        $("#updateStateForm")[0].reset();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            });

        });
    </script>
}
