<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>All Reservation</title>
<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="/lib/jquery/dist/jquery.js"></script>
<style>
        table a, table img {
            cursor: pointer;
        }
</style>
</head>
<body>
<div class="container-fluid">
<table class="table table-sm table-striped table-bordered m-2">
<thead><tr><th>STATEID</th><th>STATEName</th><th>COUNTRYID</th>
</tr></thead>
<tbody></tbody>
</table>
</div>
 
    <script type="text/javascript">
        $(document).ready(function () {
            ShowAllReservation();
            function ShowAllReservation() {
                $("table tbody").html("");
                $.ajax({
                    url: "https://localhost:7193/api/HoltecServices/GetStates",
                    type: "get",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        $.each(result, function (index, value) {
                            $("tbody").append($("<tr>"));
                            appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(value["stateID"]));
                            appendElement.append($("<td>").html(value["stateName"]));
                            appendElement.append($("<td>").html(value["countryID"]));
                            appendElement.append($("<td>").html("<img class=\"delete\" src=\"icon/close.png\" />"));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            }
 
            $("table").on("click", "img.delete", function () {
                var reservationId = $(this).parents("tr").find("td:nth-child(1)").text();
 
                $.ajax({
                    url: "https://localhost:7193/api/HoltecServices/DeleteState?id=" + reservationId,
                    type: "delete",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        ShowAllReservation();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            });
 
        });
</script>
</body>
</html>