@model MVCCoreApp.Models.Customer

@{
    ViewData["Title"] = "AddUser";
}

<h1>AddUser</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CUSTNAME" class="control-label"></label>
                <input asp-for="CUSTNAME" class="form-control" />
                <span asp-validation-for="CUSTNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUSTEMAIL" class="control-label"></label>
                <input asp-for="CUSTEMAIL" class="form-control" />
                <span asp-validation-for="CUSTEMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUSTMOBILE" class="control-label"></label>
                <input asp-for="CUSTMOBILE" class="form-control" />
                <span asp-validation-for="CUSTMOBILE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
