
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        We have a header now!
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        We have a footer now!
    </div>
</body>
</html>
